@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
:root{
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    /*Por mas que aumente su contenido este no se modifica*/
    box-sizing: border-box;
    
}

body{
    background: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg); /*Diseño del fondo*/
    background-repeat: no-repeat; /*Para que no se repita el fondo*/
    background-position: top left, bottom right; /*Cambiar las posiciones del background*/
    font-family: "League Spartan", sans-serif;
}
.container{
    margin: 80px auto; /*Margen superior auto para que nos centre el contenido*/
    display: flex;/*Elementos uno al lado del otro*/
    flex-direction: column;/*Colocar en columnas los contenederes   */
}
header{
    margin-bottom: 30px; /*Margen inferior*/
}

header h1{
    color: var(--veryDarkMagenta); /*Color de la fuente*/
    font-size: 30px; /*Tamaño de la fuente*/
    font-weight: 700; /*Ancho de la fuente*/
    line-height: 30px; /*Interlineado de la fuente*/
    text-align: center; /*Centrar texto*/
    margin: 0 64px 30px 64px; /**/
}
header p{
    color: var(--darkGrayishMagenta);/*Color del texto*/
    text-align: center; /*Centrar texto*/
    line-height: 25px; /*espacio del interlineado*/
    font-size: 14px;/*Tamaño*/
    font-weight: 500; /*Ancho*/
    margin: 0 28px 0 28px; /*Arriba y a los lados   */
}
.starContainer{
    display: flex; /*Coloca los elementos uno al lado del otro*/
    flex-direction: column; /*Ordena los elementos en columna*/
    align-items: center; /*Centra los elementos en el contenedor*/
    margin-bottom: 30px;/*Espacio inferior*/

}

.stars{
    background-color: var(--lightGrayishMagenta);/*Color de fondo*/
    border-radius: 4px;/*redondes en la esquina*/
    margin:8px 0;/*margen entre elementos*/
    width:330px ;/*Ancho*/
    height: 80px; /*Alto*/
    padding: 15px;/*espacio interior*/
    font-weight: 700;/*ancho de fuente*/
    color: var(--veryDarkMagenta);/*Color de la letra*/
    display: flex; /*Elementos uno al lado del otro*/
    flex-direction: column; /*Poner en columna los elementos*/
    justify-content: space-between;/*Espacio entre los elementos*/
    align-items: center;/*Centrar elementos en el contenedor*/
}

.stars .fiveStar{
    min-width: 110px;/*Ancho minimo*/
}
.stars .text{
    min-width: 240px;/*Ancho minimo*/
    text-align: center;/*Centrar texto*/
}
.cardsContainer{
    display: flex;/*Se colocan los elementos uno al lado del otro*/
    flex-direction: column; /*Organizar elementos en columna*/
    justify-content: space-between;/*Espacio entre contenedores*/
    align-items: center;/*Alinear contenedores */
    margin-bottom: 50px; /*Margen inferior del contenedor*/

}
.cards{
    background-color: var(--veryDarkMagenta);/*Color de fondo*/
    border-radius: 10px;/*Redondear bordes*/
    max-width: 330px;/*Ancho maximo*/
    height: 250px;/*Alto*/
    padding: 37px;/*Margen interior*/
    margin: 16px 24px 0px 24px; /*Margenes*/
    color: var(--lightGrayishMagenta);
    font-size: 12px;/*Tamaño del texto*/
    display: grid;
    grid-template-columns: 1fr 10fr; /*Definir columnas */
}

.cards img{
    border-radius: 50%; /*Poner circular la imagen*/
    width: 50px; /*Ancho de la imagen*/
    margin-right: 20px;/*Separacion derecha*/
    grid-column: 1 / 2;/*Que empiece en la linea de columna 1 y termine en la 2*/
    grid-row: 1 / 3;/*Que empiece en la fila de columna 1 y termine en la 3*/
}
.cards .name{
    font-weight: 700;
    grid-column: 2 / 3;/*Definir posicion*/
}

.cards .status{
    color:var(--softPink);/*Color del letra estatus*/
    grid-column: 2 / 3;/*Definir la posicion en las columnas*/
}
.cards p{
    font-size: 500; /*tamaño de la fuente*/
    line-height:20px ; /*Interlineado*/
    grid-column: 1 / 3;/*Definir el espacio de las columnas*/
    margin-top: 30px;/*Margen superior*/

}

/*Footer*/
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }



  @media only screen and (min-width: 376px){
    .starContainer{
        padding: 0 25px; /*Agregar margenes superior e inferior y a los costados*/
    }
    .stars1{
        align-self: flex-start; /*Se alinie a la izquierda*/ 
    }
    .stars3{
        align-self: flex-end; /*Se alinie a la derecha*/
    }


    .cardsContainer{
        padding: 0 25px;/*Agregar margenes superior e inferior y a los costados*/
    }
    .cards1{
        align-self: flex-start; /*Se alinie a la izquierda*/ 
    }
    .cards3{
        align-self: flex-end; /*Se alinie a la derecha*/
    }
   }

   @media only screen and (min-width: 768px){
    body{
        background:url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);/*Imagen de fondo*/
        background-repeat: no-repeat; /*Evitar que la imagen de fondo se repita*/
        background-position: top left, bottom right;/*mover las imagenes de fondo a un lugar especifico en este caso arriba izquierda, abajo derecha*/
        background-size: 400px; /*Definir el ancho del fondo*/
    }
    .stars{
        flex-direction: row; /*Colocar uno al lado del otro*/
        width: 444px; /*Colocar un ancho mas largo*/
        height: 50px;/*Altura*/
        justify-content: center; /*Centrar contenido*/
    }

    .cardsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;/*Definir columnas*/
    }
    .cards1{
        grid-column: 1/2;
        justify-self: center;
    }
    .cards2{
        grid-column: 2/3;
        justify-self: center;
    }
    .cards3{
        grid-column: 1/3; /*Columnas*/
        grid-row: 2/3;/*Filas*/
        justify-self: center;/*Centrar*/
    }

   }

   @media only screen and (min-width: 895px){
    .container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);/*Cantidad de columnas y filas*/
        row-gap: 25px; /*Espacio entre filas*/
    }
    header{
        grid-column: 1/6;/*Definiendo espacio en las columnas*/
    }
    .starContainer{ /*El -1 representa en este caso el final de las columnas*/
        grid-column: 6/-1;/*Definiendo espacio en las columnas*/
    }
    .cardsContainer{
        grid-column: 1/-1;/*Definiendo espacio en las columnas*/
    }
    footer{
        grid-column: 1/-1; /*Definiendo espacio en las columnas*/
    }
   }


   @media only screen and (min-width: 1160px){
    body{ background-size: 580px;/*Tamaño del fondo*/
    }
    .container{
        margin: 125px auto; /*Margenes espacio superior y centrado horizontal*/
        max-width: 1110px;/*Ancho maximo*/
    }
    .cardsContainer{
        display: flex;
        flex-direction: row; /*Poscicionar uno al lado del otro*/
        padding: 0; /*Margenes*/
        height: 320px; /*Altura*/
    }
    .cards{
        margin: 0;
    }

   }
   @media only screen and (min-width: 1440px){
    header{
        max-width: 430px;/*Ancho maximo*/
        margin: 0;/*Sin margenes*/

    }
    header h1{
        font-size: 45px;/*Tamaño de la fuente*/
        text-align: left;/*Alinear a la izquierda*/
        margin: 0; /*Margen*/
        line-height: 45px;/*Interlineado*/

    }
    header p {
        text-align: left; /*Alinear a la izquierda*/
        margin: 15px 0 30px 0; /*Margenes*/
    }
    .starContainer{
        grid-column: 7/-1;
        padding: 0;
    }

   }